<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Manage Database
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" asp-area="Database" asp-controller="DbManage" asp-action="Index">Index</a>

        <a class="dropdown-item" asp-area="Contact" asp-controller="Contact" asp-action="Index">Manage Contact</a>
    </div>
</div>