@model string

@{ 
    Layout = "_Layout";
}


<div class="card bg-warning text-white">
    <h1 class="card-header">Xin chào @Model</h1>
    <p class="card-body">fdsfdsfdsfdsfdsfd
    dsfdfdsfdsfdsf</p>
</div>

@this.Path