@{ 
    var product = ViewBag.product as ProductModel;
}

<h4>@ViewData["Title"]</h4>

<div class="card bg-warning text-white">
    <h1 class="card-header">@product.Name</h1>
    <p class="card-text">
          Giá : @product.Price 
    </p>
    </div>
</div>

@this.Path