@model  ProductModel

<div class="card bg-info text-white">
    <h1 class="card-header">@Model.Name</h1>
    <div class="card-body">
    <p class="card-text">
          Giá : @Model.Price 
    </p>
    </div>
</div>

@this.Path