@{ 
    ViewData["Title"] = "Xóa DB";
}

<h1>@ViewData["Title"]</h1>
<p class="alert alert-danger">Có chắc xóa</p>

<form  method="post">
    <button type="submit" class="btn btn-danger"> Xóa DB</button>
</form>